<div *ngIf="workGroups">
    <button (click)="hideShowAll()" class="btn btn-info expand-hide-button">{{collapseInfo}}</button>
    <div *ngFor="let group of workGroups; let i = index">
        <div>
            <div class="work-item">
                <button class="btn btn-default" attr.data-target="#work-group-{{i}}" data-toggle="collapse">{{group.id}}. {{group.title}}</button>
                <div attr.id="work-group-{{i}}" attr.class="collapse {{collapse}}" >
                    <div *ngFor="let work of group.works">
                        <p>{{work.title}} - {{work.price}} руб. ({{work.details}})</p>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>